.section.detail .center{align-items: center; display:flex; flex-direction: column;}
.section.detail .loader{width:100%; height:100vh; display:flex; align-items: center; justify-content: center; position:fixed; top:0; left:0; background:cadetblue;}
.section.detail .loader img.loading_img{width:50px;}
.section.detail img.movie_img{margin:20px 0;}
.section.detail .genres{display:flex;}
.section.detail .genres li{margin:0 5px;}
.section.detail .desc{margin-top:20px;}